[user]
	name = Dominik Vagner
	email = dvagner@redhat.com
	signingkey = /home/dvagner/.ssh/id_ed25519.pub
[core]
	editor = nvim
	excludesfile = /home/dvagner/.gitignore
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg "ssh"]
	allowedSignersFile = /home/dvagner/.ssh/allowed_signers
